.hoteles-view
    .card.bgc-blue-800.text-center.tc-white(class="p+++")
        h2.title 
            | Viajemos.com
        h3.subtitle
            | Sistema middleware para reservacion de hoteles y alquiler de vehiculos
        a.btn.btn--green.btn--l.btn--raised(class="mt+", ui-sref="root.login", lx-ripple="white") Get Started
